@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,300;1,300&display=swap');


:root{

/*Primary*/

--Light-red : hsl(356, 100%, 66%); /*(CTA text)*/
--Very-light-red : hsl(355, 100%, 74%); /*(CTA hover background)*/
--Very-dark-blue : hsl(208, 49%, 24%); /*(headings)*/

/*Neutral*/

--White : hsl(0, 0%, 100%); /*(text)*/
--Grayish-blue : hsl(240, 2%, 79%); /*(footer text)*/
--Very-dark-grayish-blue: hsl(207, 13%, 34%); /* (body copy)*/
--Very-dark-black-blue : hsl(240, 10%, 16%); /*(footer background)*/

/*Gradient*/ 

/*Background gradient - Intro/CTA mobile nav:*/

--Background-gradient: linear-gradient(120deg, hsl(13, 100%, 72%, 0.9), hsl(353, 100%, 62%,  0.9));
--Background-gradient-2: linear-gradient(120deg, hsl(237, 17%, 21%, 0.8), hsl(237, 23%, 32%));

/*Background gradient - body:
--Background-gradient-2: linear-gradient(120deg, hsl(237, 17%, 21%, 0.8), hsl(237, 23%, 32%));

- Very dark gray blue: hsl(237, 17%, 21%)
- Very dark desaturated blue: hsl(237, 23%, 32%)
*/

}


body{
    font-size: 16px;
    font-family: "Overpass", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: var(--White);
}

h1{
    color: var(--White);
}
h2,
h3,
h4,
h5,
h6{
    color: var(--Very-dark-blue);
}
p{
    line-height: 1.6;
}
/*=======================================*/
.header{
    background: 
    var(--Background-gradient),
    url(./images/bg-pattern-intro-desktop.svg);
    background-size: cover;
    background-position: right center;
    border-bottom-left-radius: 100px;
    width: 100%;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
}

.nav {
    display: flex; 
}
.nav h1 {
   color: var(--White); 
}

.nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0;
    margin-left: 50px;
}

.nav ul li {
    padding: 5px;
    position: relative;
}
.nav ul li i{
    padding: 5px;
}

.nav ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
}


.dropdown {
     /* Initially hidden */
     display: none; /* Initially hidden */
     position: absolute;
     top: 100%; /* Adjust this value if needed */
     left: 0;
     background-color: #f9f9f9;
     box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
     z-index: 1;
     min-width: 150px;
     padding: 10px 0;
  }

   
.dropdown.show {
    display: block; /* Show dropdown when .show class is added */
  }

.dropdown ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 5px;
  }
  .dropdown ul li a {
   color: var(--Very-dark-black-blue);
  transition: font-weight 0.3s ease;;
  }
  .dropdown ul li a:hover {
    font-weight: 900;
   }
 
.header-btn{
    display: flex;
    gap: 10px;
}

.header-btn a {
    padding: 15px 35px;
    box-sizing: border-box;
}

.header-btn a:hover{
    padding: 15px 35px;
    background-color: var(--Very-light-red);
    border-radius: 50px;
}

.header-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 100px;
    text-align: center;
    margin: auto;
    
}
.header-content h1{
    font-size: 4rem;
    color: var(--White);
    text-align: center;
}
.header-content p{
    position: relative;
    top: -20px;
    color: var(--White);
}

.content-btn{
    display: flex;
    gap: 10px;
    margin-top: 15px;
}
.content-btn a {
    padding: 10px 20px;
    box-sizing: border-box;
}
.content-btn a:hover{
    padding: 10px 20px;
    background-color: var(--Very-light-red);
    border-radius: 50px;
}

.content-btn a:last-child:hover{
   color: var(--Very-light-red);
   background-color: var(--White) !important;
}
.menu {
    display: none;
}
.menu button {
    background: transparent;
    border: none;

}
.menu button i{
    color: var(--White);
    font-size:2rem;
    
}
  
 
/*================the design section======================*/

.design{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-block: 100px;
    width: 100%;
    overflow: hidden;
}
.design h1{
    font-size: 2rem;
    text-align: center;
    padding-bottom: 50px;
}
.content{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin: auto;
    width: 100%;
    position: relative;
    top: -80px;
    gap: 80px;
}

.left-sec{
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 50px;
    
}
.left-sec p{
    color: var(--Very-dark-grayish-blue);
}
.intro, .robust{
    width: 50%;
} 
.editor-desc{
    width: 100%;
}

/* ==================the art section===================*/

.art{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: var(--Background-gradient-2);
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    position: relative;
    width: 100%;
    padding-block: 80px;
    margin-bottom: 100px;
} 
.illustration{
    position: absolute;
    left: 150px;
}
.stateOf h2{
    color: var(--White);
    font-size: 2.2rem;
}
.stateOf  p{
    color: var(--Grayish-blue);
    font-size: 15px;
}
.stateOf {
    position: relative;
    width: 25%;
    right: 200px;
}
/*the free section*/

.content-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 150px;
    width: 100%;
    overflow: hidden;
    text-align: center;
}
.laptop{
    width: 100%;
}
/*====================footer section====================*/
footer{
    background-color: var(--Very-dark-black-blue);
    width: 100%;
    border-top-right-radius: 100px;
}

.footer-container{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    align-items: self-start;
    padding-block: 50px;
    margin: auto;
    flex-wrap: wrap;
    row-gap: 50px;
    overflow: hidden;
}
.list h4{
    color: var(--White);
}
.list ul {
    padding-left: 0;
}
.list ul li{
    color: var(--Grayish-blue);
    line-height: 1.9;
}



/*========================media-query=====================*/
/*=====for big screens====*/
@media (max-width: 1200px){
    .header-btn, #header-list{
       display: none;
    }
    .menu{
        display: inline;
    }
    .nav{
        width: 70%;
    }
 
    .header-content h1{
        font-size: 3rem;

    }
    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        position: relative;
        text-align: center;
        padding: 0;
        top: 0;
        gap: 50px;
    
    }
 
    .editor-desc{
        order: -1;
    }


    .art{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: var(--Background-gradient-2);
        border-top-right-radius: 100px;
        border-bottom-left-radius: 100px;
        position: relative;
        width: 100%;
        padding-block: 230px 100px;
        margin-block: 400px 100px;
    } 

    .illustration{
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translate(-50%, -50%); /* Centers the element */
    }
    .stateOf h2{
        color: var(--White);
        font-size: 2.2rem;
    }
    .stateOf  p{
        color: var(--Grayish-blue);
        font-size: 15px;
    }
    .stateOf {
        position: initial;
        width: 50%;
        text-align: center;
      
    }


    .content-2{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        margin-block: 100px;
        width: 100%;
        overflow: hidden;
        gap: 100px;
    }
 
   
}
/*=======for mobile sizes=======*/

@media(max-width:600px) and (min-width:320px){
    .header{
        background: 
        var(--Background-gradient),
        url(./images/bg-pattern-intro-mobile.svg);
        background-size: cover;
        background-position: right right;
       } 
      
   
    .header-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-block: 100px;
        text-align: center;
        margin: auto;
        width: 80%;
    
    }
    .header-content h1{
        font-size: 2.5rem;
    }
    .header-content p{
        font-size: 20px;
    }
    .nav{
        width: 70%;
    }

    .left-sec{
        width: 90%;
       }
    .intro, .robust{
        width: 80%;
    } 

    .left-sec h2{
        font-size: 2rem;
       }
    .left-sec p{
        font-size:20px;
       }

    .editor-desc img{
        content: url(./images/illustration-editor-mobile.svg);
       }

       /*==================the art section-=====================*/ 
       
    .art{
        margin-top: 350px;
        padding-block: 150px 100px;

    } 
  
    .illustration{
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translate(-50%, -50%); /* Centers the element */
    }
    .illustration img{
        content: url(./images/illustration-phones.svg);
       }
    .stateOf{
        text-align: center;
        width: 90%;

    }
    .stateOf h2{
        font-size: 2rem;
    }
    .stateOf p{
        font-size: 20px;
    }

    .laptop{
        content: url(./images/illustration-laptop-mobile.svg);
    }
    

    .footer-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}